<% content_for :headercontents do %>
  <div id="gnav">
    <nav>
      <%= link_to 'Home', '/' %>
    </nav>
  </div>
  <div id="topSection" class="row">
  </div>
<% end %>

<% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
          <h2 class="Heading">Events</h2>
      </div>
    </div>
    <div id="container">
      <div class="row">
        <section class ="item item-information">
           <div class="Hover">
              <%= image_tag 'eventWel_001.jpg', :alt => "コラム", :class => "image" %>
              <div class="category">
                新歓曲
              </div>
              <p class="description">
                『きみ歌えよ』作詩 谷川俊太郎 作曲 信長貴富<br>
                『ぜんぶ』作詩 さくらももこ 作曲 相澤直人<br>
                『虹』作詞作曲 森山直太朗・御徒町凧 編曲 信長貴富<br>
                『ルージュの伝言』作詞作曲 荒井由実 編曲 倉知竜<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-information">
           <div class="Hover">
              <%= image_tag 'TopImage_002.jpg', :alt => "コラム", :class => "image" %>
              <div class="category">
                新歓情報
              </div>
              <p class="description">
                混声合唱団の新歓イベント日程です！練習体験や、先輩と話したり演奏を聴いたり出来る楽しいイベントが盛りだくさん！気軽に来てくださいね！<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-event">
           <div class="Hover">
              <%= image_tag 'eventWel_002.jpg', :alt => "メインディッシュ", :class => "image" %>
              <div class="category">
                新歓イベント
              </div>
              <p class="description">
                おいしいクレープや手作りのお菓子が食べられるこのイベントは女子限定！<br>
                かっこいい上級生の演奏も聞いたり、女子の先輩とも沢山おしゃべりできますよ♪<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-event">
           <div class="Hover">
              <%= image_tag 'eventWel_003.jpg', :alt => "メインディッシュ", :class => "image" %>
              <div class="category">
                新歓イベント
              </div>
              <p class="description">
                この団特有のイベント！スイパラ、焼き肉、カラオケの中からすきなものを選んで上級生と一緒に楽しめます。<br>
                なんと全部無料！予約制の早いもの勝ちです。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-event">
           <div class="Hover">
              <%= image_tag 'eventWel_004.jpg', :alt => "メインディッシュ", :class => "image" %>
              <div class="category">
                新歓イベント
              </div>
              <p class="description">
                萩ホール前でおいしい手料理を食べられます。やっぱり花より団子ですよね！ <br>
                レクをやったり、先輩たちとお話ししたりみんなで盛り上がりましょう！<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_01.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 4月
              </div>
              <p class="description">
              <span class="subHeading">入学式</span><br>
              式典で東北大の学生歌を歌います。東北大学からの依頼演奏です。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_02.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 5月
              </div>
              <p class="description">
              <span class="subHeading">新歓コンパ</span><br>
              新入生が正式に新入団員として迎えられる会です！学年劇をやったりして本当に盛り上がります。<br>
              <span class="subHeading">宮城県合唱祭</span><br>
              新入団員が初めて乗るステージです。入団するとすぐにこの合唱祭に向けて賞を目指して練習します。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_03.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 6月
              </div>
              <p class="description">
                <span class="subHeading">新歓合宿</span><br>
                新入団員を歓迎するための1泊2日のお泊りです。劇やスポーツをやってみんなと仲良くなれます。<br>
                合宿で行われるアンサンブル大会では少人数のチームで発表できます。<br>
                <span class="subHeading">学年アンサンブル</span><br>
                学年ごとに演奏を発表しあう場です。上級生の演奏は感動もの！<br>
                <span class="subHeading">楽天国家斉唱</span><br>
                楽天イーグルスの試合で国家を歌う依頼演奏です。<br>
                <br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_04.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 7月
              </div>
              <p class="description">
                <span class="subHeading">パートコンパ</span><br>
                パートで集まってご飯に行きます。パートの性格がよく表れますよ～。 <br>
                学年問わず同じパートの仲間と仲良くなれます！<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_05.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 8月
              </div>
              <p class="description">
              <span class="subHeading">混声夏休み</span><br>
              この団の夏休みです。講義が終わっても練習は続けますが、この時期にはみんな帰省や旅行を楽しみます。<br>
              <span class="subHeading">サマーキャンプ</span><br>
              1年生が企画するお泊りです！山に行ったり海に行ったり、バーベキューをしたりスイカ割りをしたり、<br>
              大学生だからこそできるイベントですね！<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_06.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 9月
              </div>
              <p class="description">
              <span class="subHeading">☆夏休み中は、中学校への訪問演奏など
              楽しいイベントが盛りだくさん！</span><br>
              <span class="subHeading">夏合宿</span><br>
              歌尽くしの4泊5日の岩手で行われる合宿です。常任指揮者やヴォイストレーナーを呼んでみてもらいます。<br>
              <span class="subHeading">独唱会</span><br>
              独唱を発表します。1人で歌うと力がつきますよ！<br>
              <span class="subHeading">混声芋煮</span><br>
              芋煮は仙台の有名な行事です。ちょっと寒くなってきた河原であったかーい芋煮を作って食べられます。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_07.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 10月
              </div>
              <p class="description">
              <span class="subHeading">秋のアンサンブル大会</span><br>
              秋のといいつつも練習は夏休み真っただ中から始まるイベントです。少人数のチームを組んで演奏します。<br>
              時間がある夏休みにも集まってたくさん歌えますよ！<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_08.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 11月
              </div>
              <p class="description">
              <span class="subHeading">大学祭</span><br>
              大学祭で1年生を中心にカフェを出店します。メニュー決めから買い出し、装飾まで全部を任せられます。<br>
              得意分野を生かしてみんなが協力します。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_09.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 12月
              </div>
              <p class="description">
              <span class="subHeading">定期演奏会</span><br>
              私たちの団の集大成です！半年以上かけてこの日のために練習を重ねます。<br>
              80人もの団員の声と心が一つになった時の感動は宝物です。<br>
              <span class="subHeading">岩大ツアー</span><br>
              同じ指揮者に師事している岩手大学の合唱部の定期演奏会を有志で聴きに行きます！<br>
              その歌唱力にいい刺激を受けられますよ。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_10.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 1月
              </div>
              <p class="description">
              <span class="subHeading">混声冬休み</span><br>
              この団の冬休みです。定期演奏会が終わってからしばらくは練習もお休みです。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_11.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 2月
              </div>
              <p class="description">
              <span class="subHeading">スプリングフェスティバル</span><br>
              少人数でチームを組んで発表できるアンサンブル大会です。<br>
              <span class="subHeading">受験生激励会</span><br>
              受験生への応援ソングを駅前で歌います。未来の東北の大学生に手作りのお守りも渡します。<br>
              </p>
           </div>
        </section>
      </div>
      <div class="row">
        <section class ="item item-annual">
           <div class="Hover">
              <%= image_tag 'eventAnnu_12.png', :alt => "コラム", :class => "image" %>
              <div class="category">
                年間イベント 3月
              </div>
              <p class="description">
              <span class="subHeading">春合宿</span><br>
              5泊6日で岩手に行って訪問演奏に向けて歌います。4年生が抜けた新体制でたくさん歌って曲を作っていきます。<br>
              <span class="subHeading">訪問演奏</span><br>
              仙台市内の市民センターや老人ホームで歌を届けてきます。地域の方々の笑顔を見て歌の力を実感できますよ。<br>
              <span class="subHeading">追いコン</span><br>
              4年生の卒団を祝って、歌ったり劇をしたりします。<br>
              </p>
           </div>
        </section>
      </div>
    </div>
  </div>
<% end %>
