<div id="container">
	<h2>About us</h2>
	<div class="row">
		<section class ="item item-m item-information movie">
			 <div class="Hover">
				  	<iframe width="560" height="315" src="https://www.youtube.com/embed/pmD4bKCSPgw" frameborder="0" allowfullscreen></iframe>
				  <div class="category">
				  	新歓情報
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-event">
			 <div class="Hover">
				  <%= image_tag 'TopImage_001.jpg', :alt => "メインディッシュ", :class => "image" %>
				  <div class="category">
				  	新歓イベント
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section id = "calender" class ="item item-information">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_002.jpg', :alt => "コラム", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_003.jpg', :alt => "前菜", :class => "image" %>
				 	<div class="category">
				  	年間イベント
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit
				  </p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-qa">
			 <div class="Hover">
				  <%= image_tag 'TopImage_004.jpg', :alt => "おやつの時間", :class => "image" %>
				  <div class="category">
				  	混声Q&A
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
				  <%= image_tag 'TopImage_005.jpg', :alt => "メインディッシュ", :class => "image" %>
				  <div class="category">
				  	新歓情報
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual movie">
			 <div class="Hover">
			 	<iframe width="280" height="157.5" src="https://www.youtube.com/embed/J_SBpQZVEsA?list=PLC-DdDj3otaahB3z6D4mqEn4oD7mzlLNM" frameborder="0" allowfullscreen></iframe>
			  	<div class="category">
			  		年間イベント
			  	</div>
			 		<p class="description">
			 			Lorem ipsum dolor sit amet, consectetur adipiscing elit
			 		</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_006.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual movie">
			 <div class="Hover">
			  	<iframe width="280" height="157.5" src="https://www.youtube.com/embed/c20Kh_4_uaw" frameborder="0" allowfullscreen></iframe>
			  	<div class="category">
			  		年間イベント
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_007.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		年間イベント
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-event">
			 <div class="Hover">
			  	<%= image_tag 'TopImage_008.jpg', :alt => "おやつの時間", :class => "image" %>
			  	<div class="category">
			  		新歓イベント
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-qa">
			 <div class="Hover">
				  <%= image_tag 'TopImage_009.jpg', :alt => "前菜", :class => "image" %>
				  <div class="category">
				  	混声Q&A
				  </div>
				  <p class="description">
				  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
			 	<%= image_tag 'TopImage_010.jpg', :alt => "おやつの時間", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-event">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_011.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		新歓イベント
			  	</div>
			  	<p class="description">
			  		Lorem ipsum dolor sit amet, consectetur adipiscing elit
			  	</p>
			 </div>
		</section>
	</div>
</div>
<script src = "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>