<% content_for :headercontents do %>
    <div id="gnav">
      <a id="gnav_botton" class="open" href="#animatedModal">
        <%= image_tag 'gnavOpen.png', :alt => "menu", :class => "image", :size => '50x50'%>
      </a>
      <div id="animatedModal">
        <div id="closebt-container" class="close-animatedModal close">
          <%= image_tag 'gnavClose.png', :alt => "close", :size => '50x50'%>
        </div>
        <div id="modal-content">
            <ul>
                <li><%= link_to 'About us', '/about' %></li>
                <li><%= link_to 'Events for Freshmen', '/event' %></li>
                <li><%= link_to 'Annual Events', '/event' %></li>
                <li><%= link_to 'Daily activity', '/daily' %></li>
                <li><%= link_to 'Q A', '/about' %></li>
            </ul>
        </div>
      </div>
    </div>
  <div  id="topSection" class="row">
    <header class="col-xs-12 Heading text-center">
      <div class="row">
        <div class="col-xs-12 welcome">
          <h1 id="pageTitle">Tohoku Univ<br>Mixed Chorus</h1>
          <p>Congratulations on entering Tohoku University!<br>
             Why don't you have an enjoyable college life with us?</p>
        </div>
      </div>
      <div class="row">
        <div id="header-contents">
          <div class="col-xs-12 col-sm-6" id="music">
            <%= image_tag 'music.png', :alt => "music", :size => '100x100'%>
            <h3>Music</h3>
            <p>東北大学混声合唱団なら、<br>本格的な宗教曲からポップスまで、<br>さらにアンサンブルを組めば、<br>アカペラやミュージカルまで
              幅広い曲を歌えます！<br>きっと自分が好きな音楽が見つかりますよ！</p>
          </div>
          <div class="col-xs-12 col-sm-6" id="event">
            <%= image_tag 'event.png', :alt => "event", :size => '100x100'%>
            <h3>Event</h3>
            <p>東北大学混声合唱団は、<br>1年を通してイベントが盛りだくさん！<br>合宿やアンサンブル大会など、<br>
            経験者でも初心者でも関係なく楽しめます！</p>
          </div>
<!--           <div class="col-xs-12 col-sm-6 col-md-4" id="colleague">
            <%= image_tag 'colleague.png', :alt => "colleague", :size => '100x100'%>
            <h3>Colleague</h3>
            <p>東北大学混声に入れば、<br>大学生活を一緒に楽しめる<br>仲間もたくさんできます！<br>
            音楽を通して知り合った仲間と、<br>キャンパスライフを豊かにしましょう！<br>
            </p>
          </div>
 -->        </div>
      </div>
    </header>
  </div>
  <% end %>

 <% content_for :main do %>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="Heading">Check it out!</h2>
      </div>
    </div>

<div id="container">
	<div class="row">
		<section class ="item item-m item-information movie">
			 <div class="Hover">
				  	<iframe width="560" height="315" src="https://www.youtube.com/embed/pmD4bKCSPgw" frameborder="0" allowfullscreen></iframe>
				  <div class="category">
				  	新歓情報
				  </div>
				  <p class="description">
				  	今年も新歓PV完成しました！1年間の活動を様子をスライドショーで、私たちの演奏に乗せて紹介しています。ぜひ見てください！<br>
				  	<%= link_to '団紹介ページはこちらから', '/about' %>
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-event">
			 <div class="Hover">
				  <%= image_tag 'TopImage_001.jpg', :alt => "メインディッシュ", :class => "image" %>
				  <div class="category">
				  	新歓イベント
				  </div>
				  <p class="description">
				  	去年の新歓コンパは片平キャンパスのさくらキッチンで行いました！優しい先輩たちと仲良くなれる大チャンスです！<br>
			  		<%= link_to '新歓イベントページはこちらから', '/event' %>
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section id = "calender" class ="item item-information">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_002.jpg', :alt => "コラム", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		混声合唱団の新歓イベント日程です！練習体験や、先輩と話したり演奏を聴いたり出来る楽しいイベントが盛りだくさん！気軽に来てくださいね！<br>
			  		<%= link_to '新歓イベントページはこちらから', '/event' %>
          </p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_003.jpg', :alt => "前菜", :class => "image" %>
				 	<div class="category">
				  	年間イベント
				  </div>
				  <p class="description">
			  		毎年3月に4泊5日の春合宿に行くのが混声恒例です！岩手大学さんとの交流もありますよ！
            <%= link_to '年間イベントページはこちらから', '/event' %>
				  </p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-annual">
			 <div class="Hover">
				  <%= image_tag 'TopImage_004.jpg', :alt => "おやつの時間", :class => "image" %>
				  <div class="category">
				  	年間イベント
				  </div>
				  <p class="description">
				  	私たちの団の活動目標は、12月の定期演奏会です。定演では宗教曲からポップスまで幅広い曲を扱っています。<br>
            <%= link_to '団紹介ページはこちらから', '/about' %>
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
				  <%= image_tag 'TopImage_005.jpg', :alt => "メインディッシュ", :class => "image" %>
				  <div class="category">
				  	新歓情報
				  </div>
				  <p class="description">
				  	普段の活動は川内北キャンパスの課外活動共同棟（川内ホール）で行っています。新入生も通いやすいですよ！<br>
            <%= link_to '普段の活動場所・日程はこちらから', '/about' %>
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual movie">
			 <div class="Hover">
			 	<iframe width="280" height="157.5" src="https://www.youtube.com/embed/J_SBpQZVEsA?list=PLC-DdDj3otaahB3z6D4mqEn4oD7mzlLNM" frameborder="0" allowfullscreen></iframe>
			  	<div class="category">
			  		年間イベント
			  	</div>
			 		<p class="description">
			 			昨年度の57回定期演奏会の音源です。第二ステージは例年ポップスステージとなっています。
			 		</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_006.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		新歓時期の体験練習にぜひ来てください！上級生と一緒に新歓曲を練習しましょう！<br>
          <%= link_to '今年の新歓曲はこちらから', '/event' %>
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual movie">
			 <div class="Hover">
			  	<iframe width="280" height="157.5" src="https://www.youtube.com/embed/c20Kh_4_uaw" frameborder="0" allowfullscreen></iframe>
			  	<div class="category">
			  		年間イベント
			  	</div>
			  	<p class="description">
			  		昨年の新歓で扱った「みやこわすれ」の音源です。<br>
          <%= link_to '混声YouTubeチャンネルはこちらから', 'https://www.youtube.com/channel/UCDc6LvFN5XzPtCQ5zeFeFHQ' %>
			  	</p>
			  	</div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-qa">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_007.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		混声Q＆A
			  	</div>
			  	<p class="description">
			  		3月の春合宿では岩手県の青少年自然の家（テンパーク）で春合宿を行いました！岩手大学合唱団さんとの交流もあります！<br>
            <%= link_to '混声についてさらに知りたい人はこちらから', '/about' %>
          </p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-annual">
			 <div class="Hover">
			  	<%= image_tag 'TopImage_008.jpg', :alt => "おやつの時間", :class => "image" %>
			  	<div class="category">
			  		年間イベント
			  	</div>
			  	<p class="description">
			  		大学が春休みの時期には訪問演奏に行きます！
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-m item-qa">
			 <div class="Hover">
				  <%= image_tag 'TopImage_009.jpg', :alt => "前菜", :class => "image" %>
				  <div class="category">
				  	混声Q＆A
				  </div>
				  <p class="description">
				  	入部したいけど不安な人も、もっと混声のことを知りたい人も混声Q＆Aを見て解決しよう！<br>
            <%= link_to '混声Q＆Aはこちらから', '/about' %>
					</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-information">
			 <div class="Hover">
			 	<%= image_tag 'TopImage_010.jpg', :alt => "おやつの時間", :class => "image" %>
			  	<div class="category">
			  		新歓情報
			  	</div>
			  	<p class="description">
			  		今年も川内駅前で受験生激励会を行いました！激励会以降から本格的に新歓準備が始まります！<br>
				  	<%= link_to '新歓イベントページはこちらから', '/event' %>
			  	</p>
			 </div>
		</section>
	</div>
	<div class="row">
		<section class ="item item-event">
			 <div class="Hover">
			 		<%= image_tag 'TopImage_011.jpg', :alt => "メインディッシュ", :class => "image" %>
			  	<div class="category">
			  		新歓イベント
			  	</div>
			  	<p class="description">
			  		私たちと一緒に定期演奏会に向けて活動しませんか？初心者でも丁寧に教えるので大丈夫です！大歓迎です！<br>
            <%= link_to '普段の練習内容はこちらから', '/daily' %>
			  	</p>
			 </div>
		</section>
	</div>
</div>

<% end %>

</div>
