<div id="container">
	<section class ="item item-maindish">
		 <a href="#">
			  <%= image_tag 'image_S_1.jpg', :alt => "メインディッシュ", :class => "image" %>
			  <div class="category">
			  	MAIN DISH
			  </div>
			  <p class="description">
			  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
		 </a>
	</section>
	<section class ="item item-appetizer">
		 <a href="#">
		 		<%= image_tag 'image_S_2.jpg', :alt => "前菜", :class => "image" %>
			 	<div class="category">
			  	APPETIZER
			  </div>
			  <p class="description">
			  	Lorem ipsum dolor sit amet, consectetur adipiscing elit
			  </p>
		 </a>
	</section>
	<section class ="item item-column">
		 <a href="#">
		 		<%= image_tag 'image_S_3.jpg', :alt => "コラム", :class => "image" %>
		  	<div class="category">
		  		COLUMN
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		  	</p>
		 </a>
	</section>
	<section class ="item item-breaktime">
		 <a href="#">
		 		<%= image_tag 'image_S_4.jpg', :alt => "おやつの時間", :class => "image" %>
		  	<div class="category">
		  		BRAKE TIME
		  	</div>
		 		<p class="description">
		 			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		 		</p>
		 </a>
	</section>
	<section class ="item item-maindish">
		 <a href="#">
		 		<%= image_tag 'image_S_5.jpg', :alt => "メインディッシュ", :class => "image" %>
		  	<div class="category">
		  		MAIN DISH
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		  	</p>
		 </a>
	</section>
	<section class ="item item-breaktime">
		 <a href="#">
		  	<%= image_tag 'image_S_6.jpg', :alt => "おやつの時間", :class => "image" %>
		  	<div class="category">
		  		BRAKE TIME
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		  	</p>
		 </a>
	</section>
	<section class ="item item-maindish">
		 <a href="#">
		 		<%= image_tag 'image_S_7.jpg', :alt => "メインディッシュ", :class => "image" %>
		  	<div class="category">
		  		MAIN DISH
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
		  	</p>
		 </a>
	</section>
	<section class ="item item-breaktime">
		 <a href="#">
		  	<%= image_tag 'image_S_8.jpg', :alt => "おやつの時間", :class => "image" %>
		  	<div class="category">
		  		BRAKE TIME
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
		  	</p>
		 </a>
	</section>
	<section class ="item item-column">
		 <a href="#">
		  	<%= image_tag 'image_S_9.jpg', :alt => "コラム", :class => "image" %>
		  	<div class="category">
		  		COLUMN
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit
		  	</p>
		 </a>
	</section>
	<section class ="item item-maindish">
		 <a href="#">
		 		<%= image_tag 'image_S_10.jpg', :alt => "メインディッシュ", :class => "image" %>
		  	<div class="category">
		  		MAIN DISH
		  	</div>
		  	<p class="description">
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit
		  	</p>
		 </a>
	</section>
</div>

<script src = "http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script>
	var flag;
	var min_width = 768;

	function check() {
	    if(window.innerWidth < min_width ){
	    	flag = 1;
	   	}else{
	   		flag = 0;
	   	}
	};
	function initialize_masonry(){
	    if (flag) {
	    		new Masonry('body', {
			        itemSelector: '.item',
			        isFitWidth: true,
						  columnWidth: 300,
						  gutter: 4
	        });
	    }else{
	    }
	};

	$(window).load(function (){
			check();
			initialize_masonry();
	});

	$(window).resize(function (){
	    check();
	    initialize_masonry();
	});

</script>