<!DOCTYPE html>
<html>
<head>
  <title>MixedCho2017</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 ,maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
</head>
<body>
  <div id="wrapper">
    <div id="gnav">
      <a id="gnav_botton" class="open" href="#animatedModal">
        <%= image_tag 'gnavOpen.png', :alt => "menu", :class => "image", :size => '50x50'%>
      </a>
      <div id="animatedModal">
        <div id="closebt-container" class="close-animatedModal close">
          <%= image_tag 'gnavClose.png', :alt => "close", :size => '50x50'%>
        </div>
        <div id="modal-content">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Events for Freshmen</a></li>
                <li><a href="#">Annual Events</a></li>
                <li><a href="#">Daily Activity</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div  id="topSection" class="row">
    <header class="col-xs-12 Heading text-center">
      <div class="row">
        <div class="col-xs-12 welcome">
          <h1 id="pageTitle">Tohoku Univ<br>Mixed Chorus</h1>
          <p>Congratulations on entering Tohoku University!<br>
             Why don't you have an enjoyable college life with us?</p>
        </div>
      </div>
      <div class="row">
        <div id="header-contents">
          <div class="col-xs-12 col-sm-6 col-md-4" id="music">
            <%= image_tag 'music.png', :alt => "music", :size => '100x100'%>
            <h3>Music</h3>
            <p>東北大学混声合唱団なら、<br>本格的な宗教曲からポップスまで、<br>さらにアンサンブルを組めば、<br>アカペラやミュージカルまで
              幅広い曲を歌えます！<br>きっと自分が好きな音楽が見つかりますよ！</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4" id="event">
            <%= image_tag 'event.png', :alt => "event", :size => '100x100'%>
            <h3>Event</h3>
            <p>東北大学混声合唱団は、<br>1年を通してイベントが盛りだくさん！<br>合宿やアンサンブル大会など、<br>
            経験者でも初心者でも関係なく楽しめます！</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4" id="colleague">
            <%= image_tag 'colleague.png', :alt => "colleague", :size => '100x100'%>
            <h3>Colleague</h3>
            <p>東北大学混声に入れば、<br>大学生活を一緒に楽しめる<br>仲間もたくさんできます！<br>
            音楽を通して知り合った仲間と、<br>キャンパスライフを豊かにしましょう！<br>
            </p>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div id="secondSection">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="Heading">Check it out!</h2>
      </div>
    </div>
  <%= yield %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <footer class="text-center">
        <div id="footer-content">
          <h2 class="text-center">Presented by</h2>
            <div id="logo"><%= image_tag 'logoWhite.png',:alt => "logo", :size => '280x158'%></div>
          <p id="mail">Email: tohokudaikonsei@gmail.com</p>
          <p id="copyright">&copy;2017 Yasuhiro Niwayama All Rights Reserved.</p>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>
