<!DOCTYPE html>
<html>
<head>
  <title>MixedCho2017</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 ,maximum-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
</head>
<body>
  <div id="wrapper">
    <div id="gnav">
      <a id="gnav_botton" class="open" href="#animatedModal">
        <%= image_tag 'gnavOpen.png', :alt => "menu", :class => "image", :size => '50x50'%>
      </a>
      <div id="animatedModal">
        <div id="closebt-container" class="close-animatedModal close">
          <%= image_tag 'gnavClose.png', :alt => "close", :size => '50x50'%>
        </div>
        <div id="modal-content">
            <ul>
                <li><a href="#">団紹介</a></li>
                <li><a href="#">新歓イベント</a></li>
                <li><a href="#">年間イベント</a></li>
                <li><a href="#">練習内容</a></li>
                <li><a href="#">混声QA</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <header id="header" class="col-xs-12">
      <h1>Tohoku Univ Mixed Chorus</h1>
    </header>
  </div>
  <%= yield %>
  <div class="row">
    <footer class="col-xs-12">
    </footer>
  </div>
</body>
</html>
