<!DOCTYPE html>
<html>
<head>
  <title>東北大学混声合唱団2017</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 ,maximum-scale=1.0">
  <meta name="description" content="東北大学混声合唱団2017新歓HPです！新歓イベントのチェックや団の詳しい活動情報を確認できます！">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
</head>
<body>
  <%= yield :headercontents %>
  <%= yield :main %>
  <div class="row">
    <div class="col-xs-12">
      <footer class="text-center">
        <div id="footer-content">
          <h2 class="text-center">Presented by</h2>
            <div id="logo"><%= image_tag 'logoWhite.png',:alt => "logo", :size => '280x158'%></div>
          <p id="mail">Email: tohokukonsei@gmail.com</p>
          <p id="copyright">&copy;2017 Yasuhiro Niwayama All Rights Reserved.</p>
        </div>
      </footer>
    </div>
  </div>
  <script src = "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</body>
</html>
